
@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Weather Forecast</h2>
    <table>
        <tr>
            <td>
                Weather Symbol Icon
                <img id="imgWeatherIconUrl" src="@ViewData["Icon"]" title="Weather Icon" />
            </td>
        </tr>
        @*<tr>
                <td>
                    <strong>City: </strong>
                    <span id="lblCity"></span>&nbsp;&nbsp;,
                    <span id="lblCountry"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Latitude: </strong>
                    <label id="lblLat"></label><br />
                    <strong>Longitude: </strong>
                    <label id="lblLon"></label>
                </td>
            </tr>*@
        <tr>
            <td>
                <strong>Description: </strong>
                @ViewData["Description"]<br />
                <strong>Humidity: </strong>
                @ViewData["Humidity"]
            </td>
        </tr>
        <tr>
            <td>
                <strong>Temperature: </strong>
                @ViewData["Temperature"]
            </td>
        </tr>
    </table>
</div>
