@using Microsoft.Data.SqlClient

@{
    ViewData["Title"] = "Index";
}
@model SECO_Weather.Models.DTO

<form>

    <h2>Select City to view the weather:</h2>
    <div>
        @Html.DropDownList("City", (SelectList)ViewData["City"],
            new { onchange = "changeCity(this.value)" })
    </div>

    <div id="content">
        <partial name="ShowWeather.cshtml" model="@Model" />
    </div>

</form>

<script>
    function changeCity(val) {
        $.ajax({
            type: "Get",
            url: "/Weather/ShowWeather?City=" + val,
            success: function (data) {
                $("#content").html("");
                $("#content").html(data);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });

    }
</script>



