USE [master]
GO

/****** Object:  Database [CityDB]    Script Date: 6/16/2021 12:41:55 PM ******/
CREATE DATABASE [CityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


USE [CityDB]
GO
/****** Object:  Table [dbo].[City]    Script Date: 6/16/2021 1:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
	[state] [nvarchar](max) NULL,
	[country] [nvarchar](max) NULL,
	[coordid] [int] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAOCoord]    Script Date: 6/16/2021 1:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAOCoord](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lon] [real] NOT NULL,
	[lat] [real] NOT NULL,
 CONSTRAINT [PK_DAOCoord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_DAOCoord_coordid] FOREIGN KEY([coordid])
REFERENCES [dbo].[DAOCoord] ([id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_DAOCoord_coordid]
GO
